body{
    background-color: pink;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.wel{
    position: absolute;
    right: 200px;
    bottom: 100px;
}

.next{
    position: absolute;
    bottom: 0;
    right: 0;
}

.table-shadow{
    box-shadow: 5px 5px gray;
}

.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.w-75{
    width: 50%;
}